html {
    height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #efefef;
}

.toolbox {
  position: fixed;
  z-index: 6;
  left: 10px;
  top: 10px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 5px;
}

@media (max-width: 720px) {
  .toolbox {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
}