<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/autocomplete.css') }}">
    <title>MKAD Distance Calculator</title>
    <!-- Quick start for Yandex Map  https://yandex.ru/dev/maps/jsapi/doc/2.1/quick-start/index.html -->
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ api_key }}&lang=en_US" type="text/javascript"></script>      
</head>
<body style="overflow: hidden;">

    <div class="container-fluid" style="height: 100%;">
        <div class="row" style="height: 100%;">
            
            <main role="main" class="col-md-9 ml-sm-auto px-0 col-lg-9">
                
                <!-- Top left toolbox for form -->
                <div class="toolbox">
                    <div class="container">
                        <h5>Calculate Distance By Geocode</h5>
                        <form autocomplete="off" id="geocode-form" onsubmit="return geocodeSubmit(event)">
                            <div class="row">
                                <div class="form-group col-8 position-relative">
                                    <input type="text" class="form-control" id="geocode" placeholder="Enter Location" required onfocusout="geocodeFocusOut()">
                                    <ul id="location-autocomplete" class="autocomplete"></ul>
                                </div>
                                <button id="geocode-submit" type="submit" class="btn btn-primary col-2">Submit</button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <div class="container">
                        <h5>Calculate Distance By Latitude and Logitude</h5>
                        <form id="lat-long-form" onsubmit="return latLongSubmit(event)">
                            <div class="row">
                                <div class="form-group col-4">
                                    <input type="text" class="form-control" id="latitude" placeholder="Enter Latitude" required>
                                </div>
                                <div class="form-group col-4">
                                    <input type="text" class="form-control" id="longitude" placeholder="Enter Longitude" required>
                                </div>
                                <button id="lat-long-submit" type="submit" class="btn btn-primary col-2">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Map -->
                <div id="map" style="height: 100%; width: 100%;">
                </div>
                
            </main>
            
            <!-- Sidebar -->
            <nav class="col-md-3 d-md-block bg-light sidebar h-100" style="overflow: scroll;">
                <div class="sidebar-sticky py-2" id="result-sidebar">
                    <h3 style="text-align: center;">MKAD Distance Calculator</h3>
                    <div class="card mb-3">
                        <div class="card-body">
                            <p style="text-align: justify;">With the MKAD Distance Calculator, you can easily determine distances between any location to Moskovskaya Kol'tsevaya Avtomobil'naya Doroga (MKAD). Simply enter any desired location into the search function and you will get the shortest distance (air line) between the points. Of course, you can also determine distances using coordinates (latitude / longitude).</p>
                        </div>
                    </div>
                    <h3 style="text-align: center;">API Result</h3>
                </div>
            </nav>

        </div>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/result-utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/submit-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/load-map.js') }}"></script>   
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>    
</body>
</html>